<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Rental</title>
  </head>
  <body>
    <section class="main-section">
      <div class="header-background"></div>
      <header class="header-content">
        <div class="fast-car-logo">
          <a href="#">
            <img src="../img/fast-car-logo.svg" alt="Fast car" />
          </a>
        </div>
        <div class="header-link-wrapper">
          <div class="header-menu">
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Cars of the month</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>
          <div class="social-networks">
            <div class="social-network-item">
              <a href="facebook.com">
                <img src="../img/social-networks/facebook.svg" alt="facebook" />
              </a>
            </div>
            <div class="social-network-item">
              <a href="instagram.com">
                <img
                  src="../img/social-networks/instagram.svg"
                  alt="instagram"
                />
              </a>
            </div>
            <div class="social-network-item">
              <a href="youtube.com">
                <img src="../img/social-networks/youtube.svg" alt="youtube" />
              </a>
            </div>
          </div>
        </div>
      </header>
    </section>
  </body>
</html>
